<h1>Your Booked Workouts</h1>

<% if @workouts.any? %>
  <% @workouts.each do |workout| %>
    <img style="width: 200px;" src="<%= workout.image_url %>" alt="<%= workout.name %>">
    <h5><%= workout.name %></h5>
    <p>Duration: <%= workout.duration %></p>
    <p>Description: <%= workout.description %></p>
    <p>Room: <%= workout.room %></p>
    <hr>
  <% end %>
<% else %>
  <p>You have no booked workouts.</p>
<% end %>
