
<div class="outer-container">
  <div class="header-container"><h1>All Sessions</h1></div>
    <div class="card-container">
      <% @workouts.each do | workout | %>

        <%= link_to workout_path(workout) do %>
        <div class="index-card">
          <img style="width: 200px;" src="<%= workout.image_url %>" alt="<%= workout.name %>">
          <div class="info-div">
            <h5><%= workout.name %></h5>
            <p id="duration"><em><%= workout.duration %> minutes</em></p>
            <p><%= workout.description.truncate(70) %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
