
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url('<%= image_path @workout.image_url %>')">
  <div class="container">
    <h1><%= @workout.name %></h1>
    <p><strong><%= @workout.duration %> minutes in <%= @workout.room %></strong></p>
    <div class = 'sessions'>
      <% @sessions.each do |session| %>
        <% if session.date >= Date.today%>
          <div class='card'><h5><%= session.date %></h5>
            <% if session.bookings.where(user: current_user).any? %>
              Booked!
            <%else%>
              <%= simple_form_for [session, @booking] do |f| %>
                <%= f.submit "Book", class: 'btn btn-primary button' %>
              <% end %>
            <% end%>
          </div>
        <% end %>
      <% end%>
    </div>


  </div>
</div>
  <hr>
<div class="container info-container">
  <h2>Description</h2>
  <p><%= @workout.description %></p>
  <hr>
  <h2>Reviews</h2>
  <% @workout.reviews.each do |review| %>
    <div class="review-card">
      <div class="profile">
        <%= image_tag review.user.profile_picture_url %>
        <p class="text-center"><%= review.user.username %></p>
      </div>
      <div class="comment">
        <span><i class="fa-solid fa-quote-left"></i> <%= review.comment %></span>
        <p class='text-center'>
        <% review.rating.times do %>
          <i class="fa-solid fa-star" style="color: #009f7a;"></i>
        <% end %>
        </p>
      </div>


    </div>
  <% end %>
</div>
