<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Fit Hub" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <% unless current_page?(root_path) %>
        <%= render "shared/navbar" %>
        <div class="content">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
